.img_height_80 {
    height: 80px;
    display: inline-block;
}
.img_height_100 {
    height: 100px;
    display: inline-block;
}
.img_height_150 {
    height: 150px;
    display: inline-block;
}

.img_height_200 {
    height: 200px;
    display: inline-block;
}

.line_horizontal_height_21{
    border:1px solid #CCC;
    margin: 10px 0;
}

a:link{
    text-decoration:none;
    color: inherit;
}
a:visited{
    text-decoration:none;
    color: inherit;
}
a:hover{
    text-decoration:none;
    color: inherit;
}
a:active{
    text-decoration:none;
    color: inherit;
}

.div_inline{
    display: inline-block;
}

#tag_popover{
    z-index: 999;
    width: 373px;
    padding: 10px;
    display: block;
    font-size: 12px;
    background: #fff;
    overflow: hidden;
    position: absolute;
    border: 1px solid #E8E8E8;
}

#tag_popover #body_popover_inner{
    padding-top: 20px;
}

#tag_popover .popover_close{
    cursor: pointer;
}

#tag_popover .popover_ok{
    width: 80px;
    padding: 3px;
    color: #fff;
}

