/* common */
.img_height_35 {
    height: 35px;
    display: inline-block;
}

.img_height_80 {
    height: 80px;
    display: inline-block;
}

.img_height_100 {
    height: 100px;
    display: inline-block;
}

.img_height_120 {
    height: 120px;
    display: inline-block;
}

.img_height_150 {
    height: 150px;
    display: inline-block;
}

.line_horizontal_height_21 {
    border: 1px solid #CCC;
    margin: 10px 0;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
    color: inherit;
}

.div_inline {
    display: inline-block;
}

.error_hide{
    display: none;
}

.display_none{
    display: none;
}

.margin_right_20{
    margin-right: 20px;
}

.cursor_pointer{
    cursor: pointer;
}

/* 修正bootstrup的样式*/
.glyphicon{
    top: 2px;
    padding-right: 2px;
}

.glyphicon:hover{
    color: #d9534f;
}

.glyphicon-inverse{
    color: #d9534f;
}

.glyphicon-inverse:hover{
    color: #000;
}

/* video_send textarea 文本域样式 */
.field-videosendform-user_id {
    margin-bottom: 0px;
}

.field-videosendform-game_id {
    margin-bottom: 0px;
}

.field-videosendform-tags {
    margin-bottom: 0px;
}

.field-videosendform-video_title div {
    position: relative;
}

.field-videosendform-video_title .counter_label {
    font-size: 16px;
    font-weight: bold;
    color: #2e6da4;
}

.field-videosendform-video_title .counter {
    position: absolute;
    right: 15px;
    top: 0;
    font-size: 14px;
    color: #2e6da4;
}

.field-videosendform-video_title .warning {
    color: #f0ad4e;
}

.field-videosendform-video_title .exceeded {
    color: #d9534f;
}

/* video_send  弹出框样式 */
.popover_div {
    z-index: 999;
    width: 373px;
    padding: 10px;
    display: block;
    font-size: 12px;
    background: #fff;
    overflow: hidden;
    position: absolute;
    border: 1px solid #E8E8E8;
}

.popover_div .popover_inner {
    width: 100%;
    margin: 20px 20px 10px 0;
    padding: 5px;
}

.popover_div .popover_close {
    cursor: pointer;
}

.popover_div .popover_ok {
    width: 80px;
    padding: 3px;
    color: #fff;
}

/*  video_send  文件上传样式*/
.uploader {
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: default;
    padding: 0;
    margin-left: 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.filename {
    float: left;
    display: inline-block;
    outline: 0 none;
    height: 32px;
    width: 180px;
    margin: 0;
    padding: 8px 10px;
    overflow: hidden;
    cursor: default;
    border: 1px solid;
    border-right: 0;
    font: 9pt/100% Arial, Helvetica, sans-serif;
    color: #777;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #f5f5f5));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#f5f5f5', GradientType=0);
    border-color: #ccc;
    -moz-box-shadow: 0px 0px 1px #fff inset;
    -webkit-box-shadow: 0px 0px 1px #fff inset;
    box-shadow: 0px 0px 1px #fff inset;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.uploader_button {
    float: left;
    height: 32px;
    display: inline-block;
    outline: 0 none;
    padding: 8px 12px;
    margin: 0;
    cursor: pointer;
    border: 1px solid;
    font: normal 9pt/100% Arial, Helvetica, sans-serif;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
}

.uploader input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    padding: 0;
    margin: 0;
    height: 30px;
    cursor: pointer;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

.white .uploader_button {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.white:hover .uploader_button {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.blue .uploader_button {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.blue:hover .uploader_button {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

/* index 标签样式 */
.has_tag {
    padding:5px;
    width:100%;
    height:auto;
    overflow-y: auto;
    margin: 20px 20px 10px 0;
}
.has_tag .tag {
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius: 2px;
    display: block;
    float: left;
    padding: 5px;
    text-decoration:none;
    margin-right: 5px;
    margin-bottom:5px;
    font-family: tahoma, sans-serif;
    font-size:13px;
    max-width: 90%;
}
.has_tag .tag-color-0{
    background: #FF0033;
    color: #FFF;
}
.has_tag .tag-color-1{
    background: #FF9933;
    color: #FFF;
}
.has_tag .tag-color-2{
    background: #ffcc00;
    color: #FFF;
}
.has_tag .tag-color-3{
    background: #006633;
    color: #FFF;
}
.has_tag .tag-color-4{
    background: #0099CC;
    color: #FFF;
}
.has_tag .tag-color-5{
    background: #9999FF;
    color: #FFF;
}
.has_tag .tag-color-6{
    background: #9966CC;
    color: #FFF;
}

/* 评论框样式　*/
.comments_list{
    padding: 0 20px 0 65px;
    max-height: 400px;
    overflow: auto;
}
.comments_list .comments_item{
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #CCCCCC;
}
.comments_list .comments_item:last-child{
    border-bottom: 0;
    margin-bottom: 5px;
}

/* load样式 */
.load{
    width:100%;
    height: 200px;
}
.load .loader {
    font-size: 20px;
    margin: 5em auto;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load 1.3s infinite linear;
    animation: load 1.3s infinite linear;
}
/* 修改颜色最好复制出去一键替换 */
@-webkit-keyframes load {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em #9966FF, 2em -2em 0 0 #9966FF, 3em 0 0 -0.5em #9966FF, 2em 2em 0 -0.5em #9966FF, 0 3em 0 -0.5em #9966FF, -2em 2em 0 -0.5em #9966FF, -3em 0 0 -0.5em #9966FF, -2em -2em 0 0 #9966FF;
    }
    12.5% {
        box-shadow: 0 -3em 0 0 #9966FF, 2em -2em 0 0.2em #9966FF, 3em 0 0 0 #9966FF, 2em 2em 0 -0.5em #9966FF, 0 3em 0 -0.5em #9966FF, -2em 2em 0 -0.5em #9966FF, -3em 0 0 -0.5em #9966FF, -2em -2em 0 -0.5em #9966FF;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em #9966FF, 2em -2em 0 0 #9966FF, 3em 0 0 0.2em #9966FF, 2em 2em 0 0 #9966FF, 0 3em 0 -0.5em #9966FF, -2em 2em 0 -0.5em #9966FF, -3em 0 0 -0.5em #9966FF, -2em -2em 0 -0.5em #9966FF;
    }
    37.5% {
        box-shadow: 0 -3em 0 -0.5em #9966FF, 2em -2em 0 -0.5em #9966FF, 3em 0 0 0 #9966FF, 2em 2em 0 0.2em #9966FF, 0 3em 0 0 #9966FF, -2em 2em 0 -0.5em #9966FF, -3em 0 0 -0.5em #9966FF, -2em -2em 0 -0.5em #9966FF;
    }
    50% {
        box-shadow: 0 -3em 0 -0.5em #9966FF, 2em -2em 0 -0.5em #9966FF, 3em 0 0 -0.5em #9966FF, 2em 2em 0 0 #9966FF, 0 3em 0 0.2em #9966FF, -2em 2em 0 0 #9966FF, -3em 0 0 -0.5em #9966FF, -2em -2em 0 -0.5em #9966FF;
    }
    62.5% {
        box-shadow: 0 -3em 0 -0.5em #9966FF, 2em -2em 0 -0.5em #9966FF, 3em 0 0 -0.5em #9966FF, 2em 2em 0 -0.5em #9966FF, 0 3em 0 0 #9966FF, -2em 2em 0 0.2em #9966FF, -3em 0 0 0 #9966FF, -2em -2em 0 -0.5em #9966FF;
    }
    75% {
        box-shadow: 0 -3em 0 -0.5em #9966FF, 2em -2em 0 -0.5em #9966FF, 3em 0 0 -0.5em #9966FF, 2em 2em 0 -0.5em #9966FF, 0 3em 0 -0.5em #9966FF, -2em 2em 0 0 #9966FF, -3em 0 0 0.2em #9966FF, -2em -2em 0 0 #9966FF;
    }
    87.5% {
        box-shadow: 0 -3em 0 0 #9966FF, 2em -2em 0 -0.5em #9966FF, 3em 0 0 -0.5em #9966FF, 2em 2em 0 -0.5em #9966FF, 0 3em 0 -0.5em #9966FF, -2em 2em 0 0 #9966FF, -3em 0 0 0 #9966FF, -2em -2em 0 0.2em #9966FF;
    }
}
@keyframes load {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em #9966FF, 2em -2em 0 0 #9966FF, 3em 0 0 -0.5em #9966FF, 2em 2em 0 -0.5em #9966FF, 0 3em 0 -0.5em #9966FF, -2em 2em 0 -0.5em #9966FF, -3em 0 0 -0.5em #9966FF, -2em -2em 0 0 #9966FF;
    }
    12.5% {
        box-shadow: 0 -3em 0 0 #9966FF, 2em -2em 0 0.2em #9966FF, 3em 0 0 0 #9966FF, 2em 2em 0 -0.5em #9966FF, 0 3em 0 -0.5em #9966FF, -2em 2em 0 -0.5em #9966FF, -3em 0 0 -0.5em #9966FF, -2em -2em 0 -0.5em #9966FF;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em #9966FF, 2em -2em 0 0 #9966FF, 3em 0 0 0.2em #9966FF, 2em 2em 0 0 #9966FF, 0 3em 0 -0.5em #9966FF, -2em 2em 0 -0.5em #9966FF, -3em 0 0 -0.5em #9966FF, -2em -2em 0 -0.5em #9966FF;
    }
    37.5% {
        box-shadow: 0 -3em 0 -0.5em #9966FF, 2em -2em 0 -0.5em #9966FF, 3em 0 0 0 #9966FF, 2em 2em 0 0.2em #9966FF, 0 3em 0 0 #9966FF, -2em 2em 0 -0.5em #9966FF, -3em 0 0 -0.5em #9966FF, -2em -2em 0 -0.5em #9966FF;
    }
    50% {
        box-shadow: 0 -3em 0 -0.5em #9966FF, 2em -2em 0 -0.5em #9966FF, 3em 0 0 -0.5em #9966FF, 2em 2em 0 0 #9966FF, 0 3em 0 0.2em #9966FF, -2em 2em 0 0 #9966FF, -3em 0 0 -0.5em #9966FF, -2em -2em 0 -0.5em #9966FF;
    }
    62.5% {
        box-shadow: 0 -3em 0 -0.5em #9966FF, 2em -2em 0 -0.5em #9966FF, 3em 0 0 -0.5em #9966FF, 2em 2em 0 -0.5em #9966FF, 0 3em 0 0 #9966FF, -2em 2em 0 0.2em #9966FF, -3em 0 0 0 #9966FF, -2em -2em 0 -0.5em #9966FF;
    }
    75% {
        box-shadow: 0 -3em 0 -0.5em #9966FF, 2em -2em 0 -0.5em #9966FF, 3em 0 0 -0.5em #9966FF, 2em 2em 0 -0.5em #9966FF, 0 3em 0 -0.5em #9966FF, -2em 2em 0 0 #9966FF, -3em 0 0 0.2em #9966FF, -2em -2em 0 0 #9966FF;
    }
    87.5% {
        box-shadow: 0 -3em 0 0 #9966FF, 2em -2em 0 -0.5em #9966FF, 3em 0 0 -0.5em #9966FF, 2em 2em 0 -0.5em #9966FF, 0 3em 0 -0.5em #9966FF, -2em 2em 0 0 #9966FF, -3em 0 0 0 #9966FF, -2em -2em 0 0.2em #9966FF;
    }
}
